@font-face {
    font-family: DBAdman;
    src: url("#{resource['fonts:DBAdmanRoundedX.TTF']}") format('truetype');
}

@font-face {
    font-family: DBChuanpim;
    src: url("#{resource['fonts/DB ChuanPim X/DBChuanPimX.TTF']}") format('truetype');
}


h1#headerText{
    font-family: DBAdman;
}

body{
    font-family: DBChuanpim;
    font-size: 1.5em;
}

input[type="text"] , #inputForm\:outLa{
    font-family: DBChuanpim;
}

p{
    /*margin: 10px 0 10px 0;*/
    margin: 0;
}

p.title{
    font-size: 1.1em;
    font-family: DBAdman;
}

span.ui-button-text.ui-c{
    padding: 3px 25px;
}



