<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:p="http://primefaces.org/ui">
<f:view>
    <h:head>
        <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
        <title>Training Service - Form</title>
        <h:outputStylesheet name="grid/grid.css" library="primefaces" />
    </h:head>
    <style type="text/css">
        .profileGrid.ui-panelgrid>*>tr,
        .profileGrid.ui-panelgrid .ui-panelgrid-cell {
            border: none;
        }
    </style>
    <h:body>
        <div class="ui-grid ui-grid-responsive">
            <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                <h1 style="margin: 10px 0 10px 0;">จองตารางการจัดอบรมสำหรับ นพ.มากมิ่ง ยิ่งเจริญ</h1>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-6">
                    <p:panelGrid columns="2" styleClass="profileGrid">
                        <p:outputLabel value="รหัสพนักงาน"></p:outputLabel>
                        <p:outputLabel value="801014"></p:outputLabel>

                        <p:outputLabel value="ชื่อ"></p:outputLabel>
                        <p:outputLabel value="นพ.มากมิ่ง ยิ่งเจริญ"></p:outputLabel>

                        <p:outputLabel value="แผนก"></p:outputLabel>
                        <p:outputLabel value="คณะกรรมการบริหารศูนย์"></p:outputLabel>
                    </p:panelGrid>
                </div>
                <div class="ui-grid-col-6">
                    <div class="ui-grid ui-grid-responsive">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-12">
                                <p:outputLabel value="กรุณเลือกเวลาที่ต้องการเข้ารับการอบรม"></p:outputLabel>
                            </div>
                        </div>
                        <h:form>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-12">
                                <p:selectOneRadio id="customRadio" value="1" layout="custom">
                                    <f:selectItem itemValue="1" />
                                    <f:selectItem itemValue="2" />
                                    <f:selectItem itemValue="3" />
                                </p:selectOneRadio>

                                <h:panelGrid columns="2" cellpadding="5">
                                    <p:radioButton id="opt1" for="customRadio" itemIndex="0" />
                                    <h:outputLabel for="opt1" value="13 ตุลาคม 13:00 - 15:00	( รับ 150 คน)" />

                                    <p:radioButton id="opt2" for="customRadio" itemIndex="1" />
                                    <h:outputLabel for="opt2" value="14 ตุลาคม 09:00 - 11:30	( รับ 300 คน)" />

                                    <p:radioButton id="opt3" for="customRadio" itemIndex="2" />
                                    <h:outputLabel for="opt3" value="15 ตุลาคม 09:00 - 11:30	( รับ 150 คน)" />
                                </h:panelGrid>
                                <p:commandButton value="จองเวลา" onclick="PF('successDlg').show();" />

                                <p>กรณีที่<strong style="color: red;">ไม่สามารถลงทะเบียนได้</strong> ส่งอีเมล์มาที่ rpoolakorn@yahoo.com <br/>ติดต่อ 6587 , 089-0658997 คุณรัชฎาภรณ์ ศูนย์คุณภาพ</p>
                            </div>
                        </div>
                        </h:form>
                    </div>
                </div>
            </div>
        </div>

        <p:dialog header="ขอบคุณสำหรับการจองเวลา" widgetVar="successDlg" modal="true" width="30%">
            <div class="ui-grid ui-grid-responsive">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-12">
                        <h:outputText value="คุณ.... สามารถเข้าร่วมอบรมได้ใน" />
                        <br/>
                        <h:outputText value="วันที่......." />
                    </div>
                </div>
                <p:spacer />
                <div class="ui-grid-row">
                    <div class="ui-grid-col-12" style="text-align: right;">
                        <p:button outcome="index" value="กลับหน้าแรก" />
                    </div>
                </div>
            </div>
        </p:dialog>
    </h:body>
</f:view>
</html>
