<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
   <f:view>
       <h:head>
           <f:facet name="first">
               <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
               <title>Training Service</title>
           </f:facet>
           <h:outputStylesheet library="css" name="main.css"/>
       </h:head>
       <body>
            <div class="ui-grid ui-grid-responsive">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-12" style="text-align: center;margin-top: 30px;">
                        <h1 id="headerText">ระบบจองการอบรม "พัฒนาบริการสู่ระดับประทับใจ"</h1>
                    </div>
                </div>
                <div class="ui-grid-row" style="margin-top: 0;">
                    <div class="ui-grid-col-12">
                        <div class="ui-grid-row" style="background-color: rgba(178, 237, 255, 0.22);margin: 20px;padding: 80px 0;">
                            <div class="ui-grid-col-1"></div>
                            <div class="ui-grid-col-4">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12">
                                        <p class="title">กรุณาป้อนรหัสพนักงาน เพื่อค้นหารายชื่อของท่าน</p>
                                    </div>
                                </div>
                                <p:spacer></p:spacer>
                                <h:form id="inputForm">
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-6">
                                            <p:outputLabel id="outLa" value="รหัสพนักงาน" />
                                        </div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-12">
                                            <p:inputText id="txtCode" value="#{employeeview.codeSearch}" placeholder="รหัสพนักงาน" style="width: 50%;"></p:inputText>
                                        </div>
                                    </div>
                                    <p:spacer></p:spacer>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-12">
                                            <p:commandButton id="search" process="@form" action="#{employeeview.lookupProfile}" value="ค้นหา" style="font-family: DBChuanpim;padding: 0;background: none;border: solid 2px #31C6FB" />
                                        </div>
                                    </div>
                                </h:form>
                            </div>
                            <div class="ui-grid-col-1"></div>
                            <div class="ui-grid-col-5" style="background-color: rgba(54, 195, 248, 0.4);padding: 40px;border-radius: 10px;">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-12">
                                        <p class="title" style="border-bottom: solid 1px white;">
                                            กรณีที่ไม่สามารถลงทะเบียนได้
                                        </p>
                                        <p style="margin-top: 20px;">ส่งอีเมล์มาที่ rpoolakorn@yahoo.com<br/> ติดต่อ 6587 , 089-0658997 คุณรัชฎาภรณ์ ศูนย์คุณภาพ</p>
                                        <p class="title" style="margin-top: 30px;border-bottom: solid 1px white;">วันที่อบรม</p>
                                        <ul style="margin: 0px;padding-left: 23px;margin-top:20px; ">
                                            <li>วันที่ 13 ตุลาคม 13:00 - 15:00 (รับจำนวน 150 คน)</li>
                                            <li>วันที่ 14 ตุลาคม 09:00 - 11:30 (รับจำนวน 300 คน)</li>
                                            <li>วันที่ 15 ตุลาคม 09:00 - 11:30 (รับจำนวน 150 คน)</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="ui-grid-col-1"></div>
                        </div>
                    </div>
                </div>
            </div>
       </body>
   </f:view>
</html>
